@use 'variaveis';


@mixin button-form {
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corDeFundo;
    cursor: pointer;
   
    border: none;
    border-bottom: 5px solid transparent;
    padding: 8px;
    
}


.characters {
    
    text-align: center;
    padding: 100px;
    padding-bottom: calc(100px - 70px);

    h2 {
        padding: 32px;
    }
    
    &__tabs {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
        align-items: center;

        &__button {
            @include button-form;
            letter-spacing: 2px;

            &:hover {
                font-weight: bolder;
                background-color: lighten(variaveis.$corFundoLogin, 2%);
            }
            
            &--is-active {
                
                border-bottom: 5px solid variaveis.$corTextoSecundario;

            }
        }
    }
    
    &__list {
        padding: 50px;
        width: 100%;
        height: 550px;
        overflow: hidden;
        &__item {
            display: none;
            
            h3 {
                padding: 16px;
            }
            
            img {
                width: 300px;
                border-radius: 16px;
            }
            
            &--is-active {
                display: block;

            }
        }
    }
}