@use 'variaveis';


@mixin button-form {
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corDeFundo;
    cursor: pointer;
   
    border: none;
    border-bottom: 5px solid transparent;
    padding: 8px;
    
}


.characters {
    
    text-align: center;
    padding: 100px;
    padding-bottom: calc(100px - 70px);

    @media (max-width: 640px){
        width: 100%;
        padding: 30px;
    }

    h2 {
        padding: 32px;
    }
    
    &__tabs {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        @media (max-width: 640px){
            white-space: nowrap;
            overflow-x: scroll;
            justify-content: flex-start;
            gap: 8px;
         
        }

        &__button {
            @include button-form;
            letter-spacing: 2px;

            &:hover {
                font-weight: bolder;
                background-color: lighten(variaveis.$corFundoLogin, 2%);
            }
            
            &--is-active {
                
                border-bottom: 5px solid variaveis.$corTextoSecundario;

            }
        }
    }
    
    &__list {
        padding: 50px;
        width: 100%;
        height: 550px;
        overflow: hidden;

        @media (max-width: 640px){
            padding: 0;
            width: 100%;
            height: 640px;
            overflow: hidden;
        }
        &__item {
            display: none;
            
            h3 {
                padding: 16px;
            }
            
            img {
                padding-top: 16px;
                width: 300px;
                border-radius: 16px;
                text-align: center;

            }
            
            &--is-active {
                display: block;
                

            }
        }
    }
}